<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hey Admin!</h1>
    <p>
      <%= @user.username %> has requested to become an Admin!.<br>
    </p>
    <p>
      To approve, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
