<html>
	  <head>
		<script src="codemirror.js"></script>
		<link rel="stylesheet" href="codemirror.css">
		<script src="spreadsheet.js"></script>
	  </head>
	  
	  <body> 
	  	<% form_for :editor, url = actions_editor_path  
	  	<h1 id="myHeader" onclick="getValue()">This is the editor!</h1>
	 	<script> 
	 	var myCodeMirror = CodeMirror(document.body, {value: "//Sample Javascript Code\n",mode:  "javascript"});
	 	//var myCodeMirror= CodeMirror.fromTextArea(myTextArea);
	 	</script>
	  </body>
	 
	</html>
	 <html>
<head>
