<html>
<div style="top: 4%; left: 3%; position: absolute;"> 
<h1> REQUIRED FORMAT OF TEST CASES </h1>
<b>
1. Upload a .zip file which contains a "Input" folder and a "Output" folder
<br>
2. The name of the file should be "Problem Name"_testcases.zip 
<br>
3.The "Input" folder should contain the input test files as follows:
Input00.txt
Input01.txt
.
.
.
so on.
<br>
4. The "Output" folder should contain the corresponding output files as follows:
Output00.txt
Output01.txt
.
.
.
so on.
<br>
5. The number of input and output files should be EQUAL.
<br>
</b>
<h2>
<%= link_to "Back", :back %>
<h2>

</div>
</html>
