<html>
<head>
<h1> <%= current_user.username%>'s Submissions </h1>
  
<script>
 var data='<%=j @finalresponse%>'
$.ajax({   
    url: data,
    success: function (data) { $('body').append(data); },
    dataType: 'html'
});
</script>
</head>
</html>
