<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<br>
<%= link_to 'Editor', 'actions/editor' %>
<br>
<%= link_to 'Submit', 'actions/submit' %>
<br>
<% if current_user.admin? %>
<p> GOD MODE ON </p>
<% end %>
